@import ../config/_colors

*
  box-sizing: border-box

body
  padding-top: 0
  font-family: Helvetica Neue, Helvetica
  background: #ffffff
  

h4
  padding-top: 20px
  margin-bottom: 5px
  text-align: center
  width: 100%

.center_div
  align-items: center
  align-content: center
  text-align: center
  display: grid
  width: 100%

.createCustomProposalForm
  form
    max-width: 800px
    margin: auto

form
  padding: 0 40px
  background-color: none
  margin-bottom: 150px

  textarea.form-control
    background: #fff
    border: solid 2px #ccc
    border-radius: 5px
    padding: 0.5rem 1.5rem
    outline: none
    &:focus
      border-color: #f60
      box-shadow: 0 0 10px #f60

  h4
    padding-bottom: 1rem
    margin-top: 20px

  @media screen and (max-width: 40rem)
    padding: 0

  input
    display: block
    margin: 10px 0
    background: #fff
    border: solid 2px #ccc
    border-radius: 5px
    padding: 0.5rem 1rem
    outline: none

    &:focus
      border-color: #f60
      box-shadow: 0 0 10px #f60
    
    &.error
      border-color: red

  button
    display: block
    width: 100%
    appearance: none
    border-radius: 35px
    background-color: $color-dark-grey
    color: #fff
    border: none
    font-size: 16px
    height: 30px


    &:hover
      background-color: #999

    &:disabled
      background-color: #999
      color: #333
      pointer-events: none

    &.small
      display: inline-block
      width: auto
      padding: 0 20px
      background-color: $color-dark-grey
      font-size: 14px

      &:hover
        background-color: #999

    &.medium
      display: block
      appearance: none
      background-color: $color-dark-grey
      color: #fff
      border: none
      font-size: 16px
      margin: auto
      align-self: center
      width: 200px
      height: 40px
      

      &:hover
        background-color: #999

      &:disabled
        background-color: #999
        color: #333
        pointer-events: none

.entry
  display: flex
  direction: row
  align-items: center

  & > input, & > button
    flex: 1 1 auto
    margin: 0 0 1rem 0
  
  & > button
    flex: 0 0 30px

  .calldata
    margin-left: 1rem
    margin-right: 1rem

  & > button
    width: initial
    background: #de2a2a
  
  @media screen and (max-width: 40rem)
    display: block
    & > input
      width: 100%
      margin: 0 0 0.5rem 0
      &.calldata
        margin: 0 0 0.5rem 0
    & > input, & > button
      flex: none
    & > button
      width: 30px

// .tooltip
//   background-color: #fff
//   color: #fff
//   border-color: #fff
//   outline-color: #fff
//   lighting-color: #fff
//   caret-color: #fff
//   stop-color: #fff
//   border-radius: 0

//   .tooltip-arrow 
//     opacity: 0%

//   .tooltip-inner
//     opacity: 0%

.add-new-call
  width: 200px
  margin: auto
  display: block
  height: 40px
  margin-top: 1rem