@import ../config/_colors
@import ../config/_variables
@import ../config/_breakpoints
  
.header
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  padding-bottom: 58px
  margin-bottom: 0px
  background: $color-black
  padding-top: 5.3rem
  input
    width: 90%
    max-width: 400px
    background: #222
    border: solid 1px #f7f7f7
    border-radius: 5px
    padding: 1rem 1.5rem
    outline: none
    color: #ffffff
    margin: 2rem 0 0
    &:focus
      box-shadow: 0 0 20px #fff
      border-color: #181a28
      transition: all 0.25s ease

.header__title
  font-size: 32px
  color: $color-white
  font-weight: 500
  margin-bottom: 48px
  max-width: 95vw
  text-align: center

  +media($breakpoint-sm)
    font-size: 28px
    margin-bottom: 32px

.header__utils
  display: flex
  align-items: center
  justify-content: space-between
  width: 650px

.header__label
  font-size: 16px
  position: relative
  cursor: pointer

.header__label--open
  color: $color-green

.header__label--closed
  color: $color-purple

.header__label-title--open
  margin-left: 24px

.header__label-title--closed
  margin-right: 24px

.header__checkbox
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

.header__checkmark
  position: absolute
  top: 0
  height: 16px
  width: 16px
  cursor: pointer
  transition: 0.2s background

.header__checkmark--open
  border: 2px solid $color-green
  left: 0

.header__checkmark--closed
  border: 2px solid $color-purple
  right: 0

.header__checkbox--open:checked ~ .header__checkmark--open
  background: $color-green

.header__checkbox--closed:checked ~ .header__checkmark--closed
  background: $color-purple

.header__balance__white
  color: $color-grey
  font-size: 16px

.header__balance__orange
  color: #f60
  font-size: 16px

.header__button
    display: block
    padding: 5px 20px
    border-radius: 5px
    background-color: #fff
    color: #000
    border: none
    font-size: 16px
    margin-top: 25px
    background: #f60
    width: 100%
    max-width: 290px
    margin: auto
    margin-top: 2rem
    color: #fff
    padding: 1rem 2rem

    &:hover
      background-color: #999

    &:disabled
      background-color: #999
      color: #555
      pointer-events: none

// .tooltip
//   background-color: #000

//   .tooltip-arrow 
//     opacity: 100%

//   .tooltip-inner
//     opacity: 100%