.nav
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 16px
  height: 60px

.nav__brand
  text-decoration: none
  cursor: pointer
  display: flex
  align-items: center

.nav__brand-logo
  width: 20px

.nav__brand-name
  margin-left: 4px
  font-size: 20px