@import ../config/_colors
@import ../config/_variables

.proposals
  display: flex
  flex-direction: column
  align-items: center
  width: 700px
  max-width: 90vw
  margin: auto
  margin-top: 10px
  min-height: calc(100vh - #{$nav-height + $header-height + $footer-height - 58px})

.proposal
  width: 100%
  border: none
  border-radius: 3px
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04)
  margin-bottom: 16px
  background: $color-white
  padding: 0 1rem 1rem

.proposal__title
  font-weight: 500
  font-size: 25px
  margin-top: 5px
  padding: 1rem 0

.proposal__bottom
  display: block
  align-items: flex-start
  justify-content: flex-start
  border-top: none
  padding: 1rem

.proposal__info
  display: block
  align-items: flex-start
  justify-content: flex-start
  border-top: none
  padding: 1rem
  margin: 0

.proposal__arrows
  display: flex
  flex-direction: column
  align-items: right
  justify-content: right
  margin-right: 12px
  
.proposal__arrow
  height: 30px
  margin: 4px
  cursor: pointer

.proposal__description
  margin: 0
  font-size: 16px
  width: 100%

.proposal__votes
  margin: 0
  margin: 0
  padding: 0
  font-size: 12px
  word-break: break-all

.proposal__button
  display: block
  padding: 5px 20px
  appearance: none
  border-radius: 17px
  background-color: $color-dark-grey
  color: #fff
  border: none
  font-size: 16px
  margin-top: 10px
  margin-left: 10px
  margin-bottom: 10px
  &:hover
      background-color: #999

  &:disabled
    background-color: #999
    color: #333
    pointer-events: none

.vote__button
  display: block
  width: 140px
  padding: 5px 
  appearance: none
  border-radius: 5px
  background-color: #444
  color: #fff
  border: none
  font-size: 14px
  margin-top: 1px
  margin-left: 10px
  margin-right: 10px
  margin-bottom: 10px

  &:hover
    background-color: #999

  &:disabled
    background-color: #999
    color: #333
    pointer-events: none