@import ../config/_variables
@import ../config/_colors
  
.actions
  background-color: $color-white
  border: 1px solid $color-very-light-grey
  align-items: center
  justify-content: space-between
  padding: 0px 16px
  margin-bottom: 50px

  