@import ../config/_variables
@import ../config/_colors
  
.actionsSection
  background-color: $color-light-grey
  border: 1px solid $color-darkish-grey
  align-items: center
  padding-left: 20px
  //margin-bottom: 20px
  margin-left: 35%
  margin-top: 30px
  margin-bottom: 60px
  width: 30%
  align-self: center

.action
  margin-bottom: 50px

.sectionHeader
  margin-top: 30px


  