@import ../config/_variables
@import ../config/_colors
  
.actionsSection
  background-color: $color-light-grey
  // border: 1px solid $color-darkish-grey
  align-items: center
  padding-left: 20px
  //margin-bottom: 20px
  margin-left: 35%
  margin-top: 30px
  margin-bottom: 60px
  width: 30%
  @media screen and ( max-width: 75rem )
    width: 100%
  align-self: center

.action
  margin-bottom: 50px

.sectionHeader
  margin-top: 30px


.flex
  display: flex
  > *
    flex: 1
    margin: 0 1rem
    padding: 1rem 1.5rem
    background: #4e5882
    color: #fff
    border-radius: 5px
    .value-display
      font-size: 1.6rem
      font-weight: 500

.flex-actions
  display: flex
  max-width: 100%
  > *
    flex: 1
    margin: 0 1rem
    padding: 0
    color: #fff
    border-radius: 5px
    display: flex
    margin-top: 2rem
    .value-display
      font-size: 1.6rem
      font-weight: 500
.header
  .flex-actions
    display: flex
    @media screen and ( max-width: 75rem )
      margin: auto
      width: max-content
    > *
      flex: 1
    input
      background: #4e5882
      border: none
      color: #fff
      border-radius: 5px 0 0 5px
      margin: 0
      &::placeholder
        color: #fff
      &[type='number']
        -moz-appearance:textfield

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button
          -webkit-appearance: none
    button
      height: 53px
      width: 153px
      border: none
      border-radius: 0 5px 5px 0
      background: #fff
      color: #1A1D2B
      @media screen and ( max-width: 75rem )
        width: 113px
      &:hover
        background: transparent linear-gradient(90deg, #ff2959, #ffc440) 0 0 no-repeat padding-box
        color: #fff

.inactive
  position: relative
  &::before
    content: " "
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    cursor: not-allowed
    z-index: 1
    background: rgba(0,0,0,0.5)
  &::after
    content: attr(data-title)
    position: absolute
    left: 50%
    top: 3rem
    padding: 1rem
    width: 90%
    cursor: not-allowed
    z-index: 2
    text-align: center
    background: red
    color: white
    border-radius: 5px
    transform: translateX(-50%)
    opacity: 0
    visibility: hidden
  &:hover
    &::after
      opacity: 1
      visibility: visible
      transition: opacity 0.25s ease, visibility 0.25s ease

.margin-top-1
  margin-top: 1rem

.justify-right
  justify-content: right

@media screen and ( max-width: 75rem )
  .xs-noflex
    display: block !important

@media screen and ( max-width: 40rem )
  .xs-xs-noflex
    display: block !important